header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  height: 100%;
  position: relative;
}

.header__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.header__content-title {
  text-align: center;
}

.header__content-title h5 {
  font-size: 2rem;
  line-height: 4rem;
}

.header__content-title h1 {
  font-size: 4rem;
  line-height: 2.5rem;
}

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  border-radius: 12rem 12rem 0 0;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/*  ******** CTA ********  */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/*  ******** Header Socials ********  */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials a {
  font-size: 1.2rem;
}

.header__socials::after {
  content: '';
  width: 2px;
  height: 2rem;
  background: var(--color-primary);
}

/*  ******** Scroll Down ********  */

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/*  ******** Media queries (LARGE) ********  */

@media screen and (max-width: 1300px) {
  .header__content-title h5 {
    font-size: 1.5rem;
    line-height: 3.5rem;
  }

  .header__content-title h1 {
    font-size: 3rem;
    line-height: 2rem;
  }
}

/*  ******** Media queries (MEDIUM) ********  */

@media screen and (max-width: 1024px) {
  .header__content-title h5 {
    font-size: 1.2rem;
    line-height: 3rem;
  }

  .header__content-title h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

/*  ******** Media queries (SMALL) ********  */

@media screen and (max-width: 750px) {
  header {
    height: 100vh;
    padding-top: 2rem;
  }

  .header__content {
    grid-template-columns: 1fr;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}

/*  ******** Media queries (X-SMALL) ********  */

@media screen and (max-width: 450px) {
  .me {
    width: 15rem;
    height: 30rem;
  }
}
