@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary: #026d9c;
  --color-light: #eaeaea;
  --color-black: #262626;
  --color-white: #ffffff;

  --font-family: 'Montserrat', sans-serif;

  --transition: all 400ms ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-family);
  line-height: 1.7rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: var(--color-light);
}

section {
  width: 100%;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-light);
  color: var(--color-black);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-black);
}

.text-bold {
  font-weight: 600;
}

.text-muted {
  color: #8e8e8e;
}
